.header {background-color: gray;
border-style: ridge;
border-color: black;
border-width; 5x;
text-align: center;
}
.navbar-default{background-color:gray;}

body {
	background-color: gray;}
	


h1 {
Color: blue; 
font-size: 60px;
}
.airshow {color: black;
font-size: 20px;} 